* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto',
      sans-serif;
}

.container {
  margin: 1rem 25px;
}

 h1 {
   font-size: 1.7rem;
   font-weight: 400;
   margin-bottom: 7px;
   line-height: 1.5;
 }
  h2 {
    font-size: 1rem;
  }
  .bg-light {
    background-color: #fff;
    color: black;
  }
  
  .bg-dark {
    background-color: black;
    color: white;
  }
  .main {
    min-height: 100vh;
  }

  @media only screen and (min-width: 575px) {
      .container {
        max-width: 540px;
      }
  }
  @media only screen and (min-width: 768px) {
         
  }

  @media only screen and (min-width: 992px) {
      
  }
  @media only screen and (min-width: 1200px) {
      
  }
